<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Buscador de museos</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="http://localhost:8000/layout.css" type="text/css">
<link rel="icon" href="http://localhost:8000/static/images/banner.png" type="image/x-icon" class="js-site-favicon">
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <a href="http://localhost:8000"><img src="http://localhost:8000/static/images/banner.png"/></a>
      <h2>Designed by Victor Lopez</h2>
    </div>
    <nav id="login">
        <p>
            {{ view_log|safe }}
        </p>
    </nav>
  </header>
</div>
<div class="wrapper row4">
    <nav id="menu">
      <ul>
        {{ view_barra|safe }}
        <li><a href="http://localhost:8000/museos">Todos</a></li>
        <li><a href="http://localhost:8000/about">About</a></li>
      </ul>
    </nav>
</div>
<div class="wrapper row2">
  <div id="container" class="clear">
    <aside id="left_column">
        {{ view_usuarios|safe }}
    </aside>
    <div id="content">
      <section id="posts" class="last clear">
        {{ view_museos|safe }}
      </section>
    </div>
    <div>
    {{ view_coment|safe }}
    </div>
    <div>
    {{ view_like|safe }}
    </div>
    <div>
    {{ view_fondo|safe }}
    </div>
    <div>
    {{ view_letra|safe }}
    </div>
    <div>
    {{ view_titulo|safe }}
    </div>
  </div>
</div>
<div class="wrapper row1">
  <footer id="footer" class="clear">
    <p class="fl_right">Template by Victor Lopez</p>
  </footer>
</div>
</body>
</html>
